<a href="https://colab.research.google.com/github/GITJAYSONI/python/blob/main/listquest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

1. Write a Python program to find the maximum element in a list of numbers without
max functions
numbers = [10, 20, 4, 45, 99]
The maximum element is: 99

In [ ]:
numbers = [10, 20, 4, 45, 99]
maxelement = numbers[0]

for num in numbers:
    if num > maxelement:
        maxelement = num

print("The maximum element is:", maxelement)

The maximum element is: 99

In [ ]:
2. Write a Python program to sum all the elements in a list of numbers.
a. numbers = [10, 20, 30, 40]
b. The sum of all elements is: 100

In [ ]:

def count_char(str1,str2):
  count=0
  for char in str1:
    if(char str2):
      count+=1
      return count
str1="regexian"
str2="tushar"
  print(count_char(str1,str2)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-1-c99161092492>, line 4)

In [ ]:
mylist=[10,20,30,10,20,50,40]
count=0
target=10
for i in range(0,len(mylist)):
  if(target==mylist[i]):
    count+=1
print(count)

2

In [ ]:
mylist=[10,20,30,40,20,10,]
index=0
end=len(mylist)-1
while(index<end):
  if(mylist[index] != mylist[end]):
    a=5
    break
  index+=1
  end-=1
if(a==0):
  print("palindrome")
else:
  print("not palindrome")

not palindrome

In [ ]:
mylist=["mama"]
index=0
end=len(mylist)-1
a=0
while(index<end):
  if(mylist[index] != mylist[end]):
    a=1
    break
  index+=1
  end-=1
  if(a==0):
    print("palindrome")
  else:
    print("not palindrome")

In [ ]:
mylist = ["mama"]
index = 0
end = len(mylist) - 1
a = 0

while index < end:
    if mylist[index] != mylist[end]:
        a = 1
        break
    index += 1
    end -= 1

if a == 0:
    print("palindrome")
else:
    print("not palindrome")

palindrome

In [ ]:
mylist=[10,20,30,40,50]
start=0
end=len(mylist)-1
while start<end:
  a=mylist[start]
  mylist[start]=mylist[end]
  mylist[end]=a
  print(mylist[start],mylist[end])
  start+=1
  end-=1

50 10
40 20

In [ ]:
mylist=[10,20,30,40,50]
start=0
end=len(mylist)-1
while start<end:
  mylist[start],mylist[end]== mylist[end],mylist[start]
   start+=1
   end-=1

IndentationError: unexpected indent (<ipython-input-14-a1a4985d27e0>, line 6)

In [ ]:
mylist = [10, 20, 30, 40, 50]
start = 0
end = len(mylist) - 1

while start < end:
    mylist[start], mylist[end] = mylist[end], mylist[start]
    start += 1
    end -= 1

print(mylist)

[50, 40, 30, 20, 10]

In [ ]:
mylist = [10, 20, 30, 400, 50]
max=mylist[0]
for i in mylist:
  if mylist:
    max

In [ ]:
mylist = [10, 20, 30, 400, 50]
max1=mylist[0]
smax=0
for i in mylist:
  if(i>max1):
    smax=max1
    max1=i
    print(max1,smax)
  elif(i>smax):
    smax=i
    print("second max>",smax)

second max> 10
20 10
30 20
400 30
second max> 50

In [ ]:
mylist = [10, 20, 30, 400, 50]
max1 = mylist[0]
smax = 0
for i in mylist:
  if(i > max1):
    smax = max1
    max1 = i  # ← ✅ This line was missing
  elif(i > smax and i!=max1):
    smax = i
    print("largest",max1,"second max>", smax)

largest 400 second max> 50

In [ ]:
#split
s="hey hello tushar"
x=s.split("  ")
print(x)

['hey hello tushar']

In [ ]:
"-".join(x)

'hey hello tushar'

In [ ]:
33.

33.0

In [ ]:

mydictionary={"jay":1,"regex":2}
print(mydictionary)

{'jay': 1, 'regex': 2}

In [ ]:
mydictionary.keys()

dict_keys(['jay', 'regex'])

In [ ]:
mydictionary.values()

dict_values([1, 2])

In [ ]:
#items mathed returns list of tuple value
mydictionary.items()

dict_items([('jay', 1), ('regex', 2)])

In [ ]:
mylist=[('userid',19,('name',"jay"))]
for i in mylist:
  print(i)

('userid', 19, ('name', 'jay'))

In [ ]:
#not in checks the key on not the value
mydic={3:100}
for i in range(1,5):
  if i not in mydic:
    mydic[i]=1
print(mydic)

{3: 100, 1: 1, 2: 1, 4: 1}

In [ ]:
dic={"salary":100}
dic['salary']=dic['salary']+5
print(dic)

{'salary': 105}

KeyError: 'count'

In [ ]:
mydic = {"count": 1}

for i in range(1, 10):
    mydic["count"] = mydic["count"] + 1

print(mydic)

{'count': 10}

In [ ]:
s="tushar"
mydic={}
for i in s:
  mydic[i]=1
print(mydic)

{'t': 1, 'u': 1, 's': 1, 'h': 1, 'a': 1, 'r': 1}

In [ ]:
#access on char
s="tusharaaaa"
mydictionary={}
for i in range(0,len(s)):
  if(s[i] not in mydictionary):
    mydictionary[s[i]]=1
  else:
    mydictionary[s[i]]=mydictionary[s[i]]+1
print(mydictionary)

{'t': 1, 'u': 1, 's': 1, 'h': 1, 'a': 5, 'r': 1}

In [ ]:
#.split()
str1="hey hello tushar hey"
x = str1.split()
mydic={}
for i in x:
  if (i not in mydic):
    mydic[i]=1
  else:
    mydic[i]=mydic[i]+1
print(mydic)

{'hey': 2, 'hello': 1, 'tushar': 1}

In [ ]:
mydict={'hey':2,'hello':1,'tushar':10}
for i in mydict.items():
  print(i,type(i),i[1])

('hey', 2) <class 'tuple'> 2
('hello', 1) <class 'tuple'> 1
('tushar', 10) <class 'tuple'> 10

In [ ]:
# 10,20,30,10,10,20
#  now i want to get frequ of each and every numbers

In [ ]:
mydict=['hey':2,'hello':1,'tushar':10]
for i in mydict.value():
  print(i,type(i),i[1])

SyntaxError: invalid syntax (<ipython-input-39-2b0f5588afb8>, line 1)

In [ ]:
list=[10,20,30,10,10,20]
dic={}
for i in list:
  if(i not in dic):
    dic[i]=1
  else:
    dic[i]=dic[i]+1
print(dic)

{10: 3, 20: 2, 30: 1}

In [ ]:
# sets
# sets do not have index postion
#{}
# unique value i store
#sets contain unique value
# set contain only immutable
#set khud mutable hota h
#no index position

In [ ]:
myset={1,2,3,4,5,6,2,2,2,2,2}
myset.remove()

TypeError: set.remove() takes exactly one argument (0 given)

AttributeError: 'list' object has no attribute 'update'

In [ ]:
#variable len argument and keyword variable
def func(*x):
  print("x=>",x)

In [ ]:
func(age=10,salary=20)
func()
func(salary=2000,age=10,name="abc")

TypeError: func() got an unexpected keyword argument 'age'

In [ ]:
#key word
func(age=23,salary=2000)

TypeError: func() got an unexpected keyword argument 'age'

In [ ]:
def func(**kwargs):
  print("x=>",kwargs,type(kwargs))

In [ ]:
func(age=10,salary=2000)
func()

x=> {'age': 10, 'salary': 2000} <class 'dict'>
x=> {} <class 'dict'>

In [ ]:
#return key word

In [ ]:
def func(x):
    print("out=>")
  return x + 10

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

In [ ]:
out=func(1000)
print("output",out)

out=> 1010
output 1010

In [ ]:
def add(x,y):
  print()

In [ ]:
out=add(10,20)
print(out)

In [ ]:
# #first class function
# design Pattern
# variable
# function as a Argument
# function if a function is return
# function  in data structure

In [ ]:
def func():
  print("hello")

In [ ]:
x=func()
func()

hello
hello

In [ ]:
def add_two(x,y):
  print(x+y)

In [ ]:
out=add_two(10,20)
print(out)

30
30

In [ ]:
def add_two(x,y):
  return(x+y)
def three_num(a,b):
    print("total=>",a+b(2,3))

three_num(10,add_two)

total=> 15

In [ ]:
#saare first class fun high order hota but saare high order fun nhi hota

In [ ]:
def jimmy(x,y,z):
  return(x+y-z)
def jacky(x,y,z):
  print("total=>",a+b-c(10,20,5))
three 3

In [ ]:
l=[1,2,30]
print(id(l))
print(id(l[0]))
print(id(l[1]))
print(id(l[2]))
print("----------------------------")
print(id(1))
print(id(2))
print(id(30))

138147355277504
10750856
10750888
10751784
----------------------------
10750856
10750888
10751784