<a href="https://colab.research.google.com/github/GITJAYSONI/python/blob/main/pattern.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(1,5):
  print("studen",i)

  for marks in range(4,0,-1):
    print(marks)

studen 1
4
3
2
1
studen 2
4
3
2
1
studen 3
4
3
2
1
studen 4
4
3
2
1

In [ ]:
for i in range(5):
  for j in range(i,5):
    print(j+1,end="")
  print()

12345
2345
345
45
5

In [ ]:
for i in range(5, 0, -1):  # Start from 5, go down to 1
    for j in range(5 - i, 5):  # Adjust the starting point
        print(j + 1, end="")  # Print numbers in the same line
    print()  # Move to the next line after each row

12345
2345
345
45
5

In [ ]:
for i in range(1,5):
  print("studen",i)

  for marks in range(1,i+1):
    print(marks)

studen 1
1
studen 2
1
2
studen 3
1
2
3
studen 4
1
2
3
4

In [ ]:
for i in range(2,8):
  for j in range(10,0,-1):
      print(i*j,end=" ")

  print("---------------")

20 18 16 14 12 10 8 6 4 2 ---------------
30 27 24 21 18 15 12 9 6 3 ---------------
40 36 32 28 24 20 16 12 8 4 ---------------
50 45 40 35 30 25 20 15 10 5 ---------------
60 54 48 42 36 30 24 18 12 6 ---------------
70 63 56 49 42 35 28 21 14 7 ---------------

In [ ]:
#pattern

In [ ]:
for i in range(1,6):
  for j in range(1,5):
    print("*",end=" ")
  print()

* * * *
* * * *
* * * *
* * * *
* * * *

In [ ]:
for i in range(1,5):
  for j in range(1,4):
    print("*",end="")
  print()

***
***
***
***

In [ ]:
for i in range(1,5):
  for j in range(1,4):
    print(i,end="")
  print()

111
222
333
444

In [ ]:
for i in range(2,5):
  for j in range(3):
    print(i,end="")
  print()

222
333
444

In [ ]:
for i in range(1,4):
  for j in range(1,5):
    print(j,end="")
  print()

1234
1234
1234

In [ ]:
for i in range(1,4):
  for j in range(4,0,-1):
    print(j,end="")
  print()

4321
4321
4321

In [ ]:
count=1
for i in range(1,4):
  for j in range(1,5):
    print(count,end=" ")
    count+=1
  print()

1 2 3 4
5 6 7 8
9 10 11 12

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
for i in range(6,0,-1):
  for j in range(i):
    print("*",end=" ")
  print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print(i,end=" ")
  print()

1
2 2
3 3 3
4 4 4 4

In [ ]:
count=ord('A')
for i in range(1,4):
  for j in range(1,i+1):
    print(chr(count),end=" ")
    count+=1
  print()

A
B C
D E F

In [ ]:
count=ord("a")
for i in range(1,4):
  for j in range(1,i+1):
    print(chr(count),end=" ")
    count+=1
  print()

a
bc
def

In [ ]:

for i in range(1,4):
  x=65
  for j in range(1,i+1):
    print(chr(x),end=" ")
    x+=1
  print()

A
A B
A B C

In [ ]:
count=15
for i in range(1,4):
  for j in range(1,i+1):
      print(count,end="")
      count+=1
  print()

15
1617
181920

In [ ]:
for i in range(5,0,-1):
  for j in range(i):
    print("*",end="")
  print()

*****
****
***
**
*

In [ ]:
count=10
for i in range(1,4):
  for j in range(1,i+1):
    print(count,end=" ")
    count+=1
  print()

10
11 12
13 14 15

In [ ]:
for i in range(1,5):
  for j in range(i,4):
    print(" ",end="")
  for k in range(1,i+1):
      print("*",end=" ")
    print()
for i in range(1,4):
  for j in range(1,i+1):
    print(" ",end="")
  for k in range(i,4):
      print("*",end=" ")
  print()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)

In [ ]:
for i in range(1, 5):
    for j in range(i, 4):
       print(" ", end="")  # Printing spaces for alignment
    for k in range(1, i + 1):
        print("*", end=" ")  # Printing stars with spaces
    print()  # Moving to the next line
for k in range(i,5):
  for j in range(1,i+1):
    print(" ",end="")
    for k in range(i,4):
      print("*",end="")
    print()

TypeError: 'tuple' object is not callable

In [ ]:
# Upper part of the pattern
for i in range(1, 5):
    for j in range(i, 4):
        print(" ", end="")  # Printing spaces for alignment
    for k in range(1, i + 1):
        print("*", end=" ")  # Printing stars with spaces
    print()  # Moving to the next line

# Lower part of the pattern
for i in range(3, 0, -1):  # Loop runs in reverse to create the lower part
    for j in range(4, i, -1):
        print(" ", end="")  # Printing spaces for alignment
    for k in range(1, i + 1):
        print("*", end=" ")  # Printing stars with spaces
    print()  # Moving to the next line

TypeError: 'tuple' object is not callable

In [ ]:
row=5
for i in range(1,row+1):
  for j in range(2*i-1):
    if(j==0 or j==2*i-2 or i==row):
      print("*",end="")
    else:
      print(" ")